%%%===================================================================
%%% PgPool - TEST CONFIGURATION FILE
%%%===================================================================

[

%% PgPool config
    {pgpool, [
        {databases, [
            {pgpool_test, [
                {pool, [
                    {size, 1},
                    {max_overflow, 0},
                    {strategy, lifo}
                ]},
                {connection, [
                    {host, "localhost"},
                    {user, "postgres"},
                    {pass, ""},
                    {options, [
                        {port, 5432},
                        {ssl, false},
                        {database, "pgpool_test"}
                    ]}
                ]}
            ]}
        ]}
    ]}

].